<section id="container" class="">
    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu" onclick="togglenavigation()"></i></div>
      </div>
      <a href="/sold/itemsm" class="logo" id="nameofmagazin"></a>
        <center><h4 id="sss"> </h4>   </center>
      <div class="nav search-row" id="top_menu">       
        <!--  search form start -->
        <ul class="nav top-menu">
        </ul>
        <!--  search form end -->
      </div>
          <!-- alert notification end-->
          <!-- user login dropdown start-->
        
          <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
      </div>
    </header>
    <!--header end-->

    <!--sidebar start-->

    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="sidebar5655">
          <li class="sub-menu" id="c">
            <a  href="/user/dashboard" class="">
                          <i class="icon_desktop"></i>
                          <span>Asosiy</span>
                      </a>
          </li>
          <li class="sub-menu" id="c">
            <a  href="/sold/items" class="">
                          <i class="icon_desktop"></i>
                          <span>Sotilgan Mahsulot</span>
                      </a>
          </li>
          <li class="sub-menu" id="c">
            <a  href="/get/debt?getpage=1&debtor_name=" class="">
                          <i class="icon_book"></i>
                          <span>Qarz Daftar</span>
                      </a>
          </li>
          <li class="sub-menu"  id="d">
            <a class="" href="/get/sell">
                          <i class="icon_piechart"></i>
                          <span>Sotish</span>
                      </a>
          </li>
          <li class="sub-menu" id="e">
            <a  href="/add/item" class="">
                          <i class="icon_table"></i>
                          <span>Mahsulot Qo'shish</span>             
                      </a>
           </li>
           <li class="sub-menu" id="al">
            <a  href="/get/items?getpage=1" class="">
                          <i class="fa fa-shopping-bag"></i>
                          <span>Barcha Mahsulotlar</span>
                     
                      </a>
           </li>
           <li class="sub-menu" id="f">
            <a  href="/add/organizations" class="">
                          <i class="icon_calendar"></i>
                          <span>Tashkilotlar</span>
                     
                      </a>
           </li>
           <li class="sub-menu" id="g">
            <a  href="/get/daily?getpage=1" class="">
                          <i class="fa fa-users"></i>
                          <span id="xaridor">Xaridorlar</span>
                      </a>
           </li>
           <li class="sub-menu" id="g">
            <a  href="/all/vazvrats?getpage=1" class="">
                          <i class="fa fa-home"></i>
                          <span id="xaridor">Vazvratlar</span>
                      </a>
           </li>
           <li class="sub-menu" id="g">
            <a  href="/curiers" class="">
                          <i class="fa fa-user"></i>
                          <span id="xaridor">Kurierlar</span>
                      </a>
           </li>
           <li class="sub-menu" id="g">
            <a  href="/get/valuta" class="">
                          <i class="fa fa-money"></i>
                          <span id="xaridor">Valuta</span>
                      </a>
           </li>
           <li class="sub-menu" id="h">
            <a  href="/exit" class="">
                          <i class="fa fa-sign-out"></i>
                          <span>Chiqish</span>
                      </a>
           </li>`
          <!-- <li class="" id="a">
            <a class="" href="index.html">
                          <i class="icon_house_alt"></i>
                          <span>Основные</span>
                      </a>
          </li> -->
        </ul>
      </div>
    </aside>
    </section>
    <script src="/js/jquery.js"></script>
    <script>
              document.getElementById('nameofmagazin').innerText="Admin"
    </script>